/* @font-face {
    font-family: "";
    src: url("./assets/fonts/Chomsky.woff") format('woff');
} */



body {
    background-image: url(assets/images/background-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 900px;
    background-color: #7c7c7c;
    margin-right: 0;
}


.container {
    /* background-color: #7467ad; */
    background-color: rgb(7, 0, 55);
    border: solid #dadada;
    border-width: 7px 7px 7px 7px;
    border-radius: 42px;

    height: 800px;

    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    align-content: center;
}

        .head {
            /* background-color: rgb(7, 0, 55); */
            background-color: #7467ad;
            border: solid #dadada;
            border-width: 5px 5px 5px 5px;
            border-radius: 42px;

            height: 200px;

            margin-top: 5%;
            margin-bottom: 5%;
            margin-left: 5%;
            margin-right: 5%;
            text-align: center;
            font-family: 'Nosifer', cursive;
        }
            #title {
                margin: 0;
                color: #77dfff;
                font-size: 5vw;
                -webkit-text-stroke: 1px rgb(7, 0, 55);
                /* -webkit-text-stroke: 1.5px white; */
                font-weight: bold;
                text-align: center;
            }
            #blurb {
                margin-top: -10px;
                /* color: #c17ecb; */
                color: rgb(255, 0, 42);
                -webkit-text-stroke: .5px rgb(142, 0, 0);
                /* font-size: 28px; */
                font-size: 2vw;
                font-weight: bold;
                text-align: center;
            }

    #image-display {
        border-radius: 42px;
        /* width: 50%; */
        /* Height: 50%; */
        width: 25vw;
        height: 25vw;
        margin-top: -5%;
        margin-left: 22.5%;
    }

    #text-box {
        /* border-color: black; */
        border-color: #77dfff;
        margin-top: 5px;
        margin-left: 30%;
        padding: 12px;
    }
    #search-button {
        border-radius: 42px;
        border-color: #c17ecb;
        margin-top: 5px;
        margin-left: 2%;
        padding: 10px;
        background-color: rgb(7, 0, 55);
        /* background-color: #7467ad; */
        color: #77dfff;
        font-size: 20px;
        font-weight: bold;
        text-align: center; 
    }



    #footer {
        /* background-color: rgb(7, 0, 55);
        color: #77dfff; */
        /* width: 100%; */
        margin-top: 70px;
        margin-bottom: -1px;
        margin-left: -1px;
        margin-right: -1px;

        padding-top: 10px;
        padding-left: 2px;
        padding-bottom: 10px;
        border-bottom-left-radius: 42px;
        border-bottom-right-radius: 42px;
    }

            #about-tab {
                border-radius: 42px;
                border-color: #c17ecb;
                margin-left: 2.5%;
                padding: 10px;
                background-color: rgb(7, 0, 55);
                /* background-color: #7467ad; */
                color: #77dfff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

            #contact-tab {
                border-radius: 42px;
                border-color: #c17ecb;
                margin-left: 2%;
                padding: 10px;
                background-color: rgb(7, 0, 55);
                /* background-color: #7467ad; */
                color: #77dfff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }