
/* contains background image primarily */
body {
    background-image: url(../images/background-image-4.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 900px;
    background-color: #7c7c7c;
    margin-left: 0;
    text-align: center;
}

/* this is the primary container for nearly all content with exception to the footer and image-2 */
.container {
    background-color: rgb(7, 0, 55);
    border: solid #dadada;
    border-width: 7px 7px 7px 7px;
    border-radius: 42px;

    width: 60vw;
    /* height: 715px; */
    height: 82%;

    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: 18vw;
    /* padding-bottom: 1.5vw; */
    align-content: center;

    position: absolute;

    z-index: 1;
}

/* page 1 default is visibile */
#page-1 {
    visibility: visible;
}
/* page 2 default is hidden */
#page-2 {
    display: none;
}

        /* this is the display of the front page before user clicks submit */
        /* only present on page 1 */
        .head {
            background-color: #7467ad;
            border: solid #dadada;
            border-width: 5px 5px 5px 5px;
            border-radius: 42px;

            height: 10vw;

            margin-top: 2.5%;
            margin-bottom: 2.5%;
            margin-left: 2.5%;
            margin-right: 2.5%;
            text-align: center;
            font-family: 'Nosifer', cursive;
        }

            /* app title "Nomster" */
            #title {
                margin: 0;
                color: #77dfff;
                font-size: 4.2vw;
                -webkit-text-stroke: 1px rgb(7, 0, 55);
                font-weight: bold;
                text-align: center;
            }

            /* small comment below "Nomster" */
            #blurb {
                margin-top: -7px;
                color: rgb(255, 0, 42);
                -webkit-text-stroke: .5px rgb(142, 0, 0);
                font-size: 1.5vw;
                font-weight: bold;
                text-align: center;
            }

    /* front page image */
    /* front page image of monster */
    #image-display {
        border-radius: 42px;
        width: 25vw;
        height: 25vw;
        margin-top: -1vw;
    }

        /* angled image (of monster) */
        /* this image default is hidden */
        #image-display-2 {
            position: absolute;
            border-radius: 42px;
            width: 25vw;
            height: 25vw;
            margin-top: 225px;
            margin-left: -46.5vw;
            /* margin-top: -25px; */
            transform: rotate(-90deg);
            z-index: 0;
            display: none;
        }

        /* image that appears on page 2 (not attached to any other element on the page) */
        #image-display-2:hover {
            margin-left: -50vw;
        }


        /* Chat bubbles should have delay after monster (image-display-2) toggles in */
        /* each bubble will appear in order (1...2...3) */
        /* default is hidden */
        #bubble-1 {
            position: absolute;
            margin-top: 285px;
            margin-left: 12.7vw;
            float: left;

            width: 2vw;
            height: 2vw;

            background-color: rgb(7, 0, 55);
            border: solid #dadada;
            border-width: 2px;
            border-radius: 42px;
            z-index: 1;
            display: none;
        }

            /* default is hidden */
            #bubble-2 {
                position: absolute;
                margin-top: 255px;
                margin-left: 10.9vw;
                float: left;

                width: 3vw;
                height: 3vw;

                background-color: rgb(7, 0, 55);
                border: solid #dadada;
                border-width: 2px;
                border-radius: 42px;
                z-index: 2;
                display: none;
            }

                /* default is hidden */
                #bubble-3 {
                    position: absolute;
                    margin-top: 159px;
                    margin-left: 4.6vw;
                    float: left;

                    width: 9vw;
                    height: 9vw;

                    background-color: rgb(7, 0, 55);
                    border: solid #dadada;
                    border-width: 2px;
                    border-radius: 70px;
                    z-index: 3;
                    display: none;         
                }

                        /* add eventlistener("click" for image-display-2) */
                        #nomster-text {
                            margin-top: 3vw;
                            color: #77dfff;
                            /* font-size: 25px; */
                            font-size: 1.5vw;
                            font-weight: bold;
                            text-align: center;   
                        }



    /* step 1: user input (location) */
    #location {
        border-color: #77dfff;
        margin-top: 10px;
        padding: 12px;
    }

    /* step 3: user presses search button (transitions to page 2) */
    #search-button {
        border-radius: 42px;
        border-color: #c17ecb;
        margin-top: 10px;
        margin-left: 2%;
        padding: 10px;
        background-color: rgb(7, 0, 55);
        color: #77dfff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

            #search-button:hover {
                background-color: #77dfff;
                color: rgb(7, 0, 55);
            }


    /* step 2 (optional): user manipulates slide bar to customize range of search */

    .slidecontainer {
        color: #77dfff;
        font-size: 17px;
        font-weight: bold;
        text-align: center; 
        width: 100%;
      }

            #slider-text {
                margin: 0;
                margin-top: 25px;
                margin-bottom: 5px;
                padding: 0;
            }

            .slider {
                -webkit-appearance: none;
                width: 75%;
                height: 10px;
                margin: 0;
                /* background-color: #77dfff; */
                background-color: #c17ecb;
                border-radius: 20px;

                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }

            .slider:hover {
                opacity: 1;
            }

            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                /* border: solid #c17ecb; */
                border: solid #77dfff;
                border-width: 2.5px;
                border-radius: 20px;
                width: 25px;
                height: 25px;
                background: rgb(7, 0, 55);
                cursor: pointer;
            }







/* Page 2 search results */
        .search-results {
            background-color: #7467ad;
            color: rgb(7, 0, 55);
            font-size: 20px;
            font-weight: bold;

            width: 40%;
            /* margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
             */
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 2%;

            /* height: 45.7vw; */
            height: 93%;
            overflow: auto;

            border: solid #77dfff;
            border-width: 5px 5px 5px 5px;
            /* border-top-left-radius: 42px;
            border-top-right-radius: 42px; */
            border-radius: 42px;

            float: left;
        }
                #noms {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: rgb(7, 0, 55);
                    font-size: 2vw;
                    /* -webkit-text-stroke: 1px #77dfff; */
                    /* color: rgb(7, 0, 55); */
                    color: rgb(255, 0, 42);
                    -webkit-text-stroke: .5px rgb(142, 0, 0);
                    font-weight: bold;

                    border-bottom: solid #77dfff;
                    /* border: solid #77dfff; */
                    border-width: 5px 5px 5px 5px;
                    font-family: 'Nosifer', cursive;

                }

                        /* this div houses the individual business divs that the list generates */
                        .businesses {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding: 0;
                        }

                                /* these are generated by the restaurants.js file */
                                .business {
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                    border-bottom: solid rgb(7, 0, 55);
                                    background-color: #7467ad;
                                    color: white;
                                    font-size: 12px;
                                    border-width: 2px 2px 2px 2px;
                                }

                                    .name {
                                        font-size: 17px;
                                        font-weight: bold;
                                    }

                                        .search-results::-webkit-scrollbar-track {
                                            border: 1px solid #77dfff;
                                            padding: 5px;
                                            background-color: rgb(7, 0, 55);
                                            border-radius: 42px;

                                            position: absolute;
                                            margin-bottom: 25px;
                                        }
                                        
                                        .search-results::-webkit-scrollbar {
                                            width: 25px;
                                            border-radius: 42px;
                                        }
                                        
                                        .search-results::-webkit-scrollbar-thumb {
                                            border: 5px solid #77dfff;
                                            border-radius: 42px;

                                            height: 25px;
                                            width: 25px;
                                            /* box-shadow: inset 0 0 6px rgb(255, 0, 0); */
                                            background-color: rgb(7, 0, 55);
                                        }






/* page 2 map for search results */
        .results-map {
            background-color: rgb(7, 0, 55);
            color: #77dfff;
            font-size: 20px;
            font-weight: bold;
        
            width: 45%;
            /* margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px; */

            margin-top: 2%;
            margin-bottom: 2%;
            margin-right: 2%;

            /* height: 45.7vw; */
            height: 93%;
            overflow: hidden;
        
            border: solid #77dfff;
            border-width: 5px 5px 5px 5px;
            border-radius: 42px;

            float: right;
        }
                #path {
                    margin-top: 0;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    background-color: rgb(7, 0, 55);
                    font-size: 2vw;
                    /* -webkit-text-stroke: 1px #77dfff; */
                    /* color: rgb(7, 0, 55); */
                    color: rgb(255, 0, 42);
                    -webkit-text-stroke: .5px rgb(142, 0, 0);
                    font-weight: bold;

                    border-bottom: solid #77dfff;
                    border-width: 5px 5px 5px 5px;
                    font-family: 'Nosifer', cursive;
                }

                        /* home-tab default is display: none */
                        /* becomes visible with page 2 */
                        #home-tab {
                            display: none;
                        }




                        #myMap {
                            
                            width: 100%;
                            /* height: 630px; */
                            height: 100%;

                            margin-top: -2vw;

                            /* margin-top: 20px; */
                            /* margin-bottom: 5%; */
                            /* margin-left: 18vw; */
                            /* padding-bottom: 1.5vw; */
                        }



    .footer {
        position: fixed;
        bottom: 0;
        min-width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #070037;
        /* text-align: center; */
        z-index: 5;
    }

            #home-tab {
                border-radius: 42px;
                border-color: #c17ecb;
                margin-right: 1.5%;
                padding: 10px;
                background-color: rgb(7, 0, 55);
                color: #77dfff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

                    #home-tab:hover {
                        background-color: #77dfff;
                        color: rgb(7, 0, 55);
                    }

            #about-tab {
                border-radius: 42px;
                border-color: #c17ecb;
                margin-right: 1.5%;
                padding: 10px;
                background-color: rgb(7, 0, 55);
                color: #77dfff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

                    #about-tab:hover {
                        background-color: #77dfff;
                        color: rgb(7, 0, 55);
                    }

            #contact-tab {
                border-radius: 42px;
                border-color: #c17ecb;
                margin-right: 2.5%;
                padding: 10px;
                background-color: rgb(7, 0, 55);
                color: #77dfff;
                font-size: 20px;
                font-weight: bold;
                text-align: center;
            }

                    #contact-tab:hover {
                        background-color: #77dfff;
                        color: rgb(7, 0, 55);
                    }